---
import type { CollectionEntry } from "astro:content";
import { getEntry, render } from "astro:content";
import Base from "../../layouts/Base.astro";
import { formatDate } from "../../lib/date";

const { slug } = Astro.params;
if (slug === undefined) {
  return Astro.redirect("/404");
}

const post = await getEntry("blog", slug);
if (post === undefined) {
  return Astro.redirect("/404");
}

const {
  data: { title, description, date, isDraft, heroImage },
} = post;
const { Content } = await render(post);

const heroImagePath = heroImage ? `/src/assets/images/${heroImage}` : undefined;
---

<Base {title} description={description} image={heroImagePath}>
  <div class="prose">
    {
      isDraft && (
        <blockquote class="my-8 bg-gray-800 py-4 pl-4" role="alert">
          This post is a <strong>draft</strong>. If you're reading this, you're
          probably a cool and trusted person. Please{" "}
          <strong>don't share</strong> it thank you.
        </blockquote>
      )
    }

    <h1 class="!mb-0 !mt-16" transition:name={slug}>{title}</h1>
    <p class="!mt-0 pb-6 text-gray-400">{formatDate(date)}</p>
    <Content />
  </div>
</Base>
