---
import GithubStars from "./GithubStars.svelte";
import Tag from "./Tag.astro";
import type { Project } from "../lib/projects";

type Props = {
  project: Project;
};

const {
  project: { repo, description, name, user, tags, stars },
} = Astro.props;
---

<a
  class="project-row group rounded border border-gray-500 bg-white p-4 transition-colors hover:bg-primary-100/20"
  href={`https://github.com/${user}/${repo}`}
  target="_blank"
>
  <div class="flex flex-col justify-between">
    <div>
      <div class="flex items-center justify-between gap-4">
        <h3 class="text-base font-medium">{name}</h3>
        {stars && <GithubStars client:idle {stars} />}
      </div>
      <p class="mt-1 text-sm text-gray-500">{description}</p>
    </div>

    <div class="mt-3 flex flex-wrap gap-2">
      {tags.map(tag => <Tag {tag} isLink={false} />)}
    </div>
  </div>
</a>
