---
import GithubStars from "./GithubStars.svelte";
import Tag from "./Tag.astro";
import type { Project } from "../lib/projects";

type Props = {
  project: Project;
};

const {
  project: { repo, description, name, user, tags, stars },
} = Astro.props;
---

<a
  class="flex flex-col justify-between gap-6 rounded-xl border-2 border-gray-200 bg-gray-50 p-4 no-underline transition-colors ease-in-out hover:bg-white"
  href={`https://github.com/${user}/${repo}`}
  target="_blank"
>
  <div class="flex flex-col space-y-1">
    <div class="flex flex-row items-center justify-between gap-8">
      <span class="font-semibold text-gray-900">{name}</span>
      {stars && <GithubStars client:idle {stars} />}
    </div>
    <span class="text-sm text-gray-600">{description}</span>
  </div>
  <div class="flex flex-row flex-wrap-reverse gap-2">
    {tags.map(tag => <Tag {tag} isLink={false} />)}
  </div>
</a>
